@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*value-----------------*/
/*loader-----------------*/
div.loader__spiner {
  width: 10px;
  height: 10px;
  border: solid transparent;
  border-radius: 50%;
  border-left-color: #FF79DA;
  border-right-color: #99E2D0;
  -webkit-animation-name: anime;
          animation-name: anime;
  -webkit-transition: 2000ms;
  transition: 2000ms;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p.loader__spiner--text {
  margin: 0% 50% 0% 40%;
  font-family: 'Shrikhand', cursive;
  opacity: 0;
  font-size: 1.5rem;
}

.loader__spiner::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid transparent;
  border-radius: 50%;
  border-left-color: #99E2D0;
  border-right-color: #FF79DA;
  -webkit-animation: spin__reverse 1s infinite linear;
          animation: spin__reverse 1s infinite linear;
  opacity: 0;
}

.loader__spiner::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid transparent;
  border-radius: 50%;
  border-left-color: #99E2D0;
  border-right-color: #FF79DA;
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
  opacity: 0;
}

.loader {
  -webkit-animation-name: apparition;
          animation-name: apparition;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  height: 0px;
}

.loader div.loader__spiner {
  opacity: 0;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  border-radius: none;
  -webkit-animation-name: apparition--spin;
          animation-name: apparition--spin;
  overflow: visible;
  margin-left: 50%;
}

.loader div.loader__spiner.loader__spiner::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid transparent;
  border-radius: 50%;
  border-left-color: #99E2D0;
  border-right-color: #FF79DA;
  -webkit-animation: spin__reverse 1s infinite linear;
          animation: spin__reverse 1s infinite linear;
  opacity: 1;
}

.loader div.loader__spiner.loader__spiner::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid transparent;
  border-radius: 50%;
  border-left-color: #99E2D0;
  border-right-color: #FF79DA;
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
  opacity: 1;
}

/*KEYFAME-----Animation---------------*/
@-webkit-keyframes apparition--spin {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: 10vh;
    opacity: 1;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}
@keyframes apparition--spin {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: 10vh;
    opacity: 1;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}

@-webkit-keyframes apparition {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: 100vh;
    opacity: 1;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}

@keyframes apparition {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: 100vh;
    opacity: 1;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}

@-webkit-keyframes spin {
  from {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

@keyframes spin {
  from {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes spin__reverse {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin__reverse {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes anime {
  0% {
    height: 0px;
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  50% {
    height: 80vh;
    opacity: 1;
    -webkit-transform: scale(1) rotate(-360deg);
            transform: scale(1) rotate(-360deg);
  }
  100% {
    opacity: 0;
    height: 0px;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes anime {
  0% {
    height: 0px;
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  50% {
    height: 80vh;
    opacity: 1;
    -webkit-transform: scale(1) rotate(-360deg);
            transform: scale(1) rotate(-360deg);
  }
  100% {
    opacity: 0;
    height: 0px;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

/*heart-----------------------------*/
.fas.fa-heart:hover {
  -webkit-transition: 1000ms;
  transition: 1000ms;
  opacity: 1;
  -webkit-transform-origin: TRANSITION bottom;
          transform-origin: TRANSITION bottom;
}

/*tuto----------------------*/
ol a :hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  background-color: #f2eafb;
}

/*check----------------------*/
.page__text:hover {
  -webkit-transform-origin: left;
          transform-origin: left;
}

.page__text:hover span {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  margin-right: -20px;
}

.page__text:hover p {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%;
}

.page__text:hover i {
  color: white;
  -webkit-animation: spin__reverse 1s ease-out;
          animation: spin__reverse 1s ease-out;
}

.page__text h3 {
  white-space: nowrap;
  font-size: 1rem;
}

.page__text .check-icon {
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 65px;
  -webkit-transform-origin: right 50%;
          transform-origin: right 50%;
  border-radius: 0px 20px 20px 0px;
  -webkit-transform: translateX(65px);
          transform: translateX(65px);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__text .check-icon i {
  color: white;
}

/*Card--------------------------*/
/*keyfram---------------------*/
@-webkit-keyframes myframe {
  from {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes myframe {
  from {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.page__text {
  -webkit-animation-name: myframe;
          animation-name: myframe;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transform-origin: right;
          transform-origin: right;
}
/*# sourceMappingURL=animations.css.map */